<link href="~/Style.css" rel="stylesheet" />

<h1>Welcome to Footies!</h1>
<p>Create a football team.</p>

<div class="form">
    <form method="post">
        <label for="Name">Football Team Name</label>
        <input maxlength="20" name="Name" />

        <label for="Country">Enter the Country</label>
        <input maxlength="20" name="Country" />

        <label for="Field">Home Field Name</label>
        <input maxlength="20" name="Field" />

        <button type="submit">Create</button>
    </form>
</div>