<link href="~/Style.css" rel="stylesheet" />

<h1>Welcome to Footies!</h1>

<div>
    <div class="form">
        <p>Search or Create your Football Team</p>
        <form method="post">
            <label for="Name">Team Name</label>
            <input maxlength="20" name="Name" required/>

            <label for="Country">Team Country</label>
            <input maxlength="20" name="Country" required/>

            <label for="Field">Home Field</label>
            <input maxlength="20" name="Field" required/>

            <button type="submit">Go Team!</button>
        </form>
    </div>

    <div>
        <a asp-action="AllTeams" asp-controller="Team">Show Current Teams and Players</a>
    </div>
</div>
