<link href="~/Style.css" rel="stylesheet" />

<div class="form">
    <form method="post">
        <label for="Name">Name</label>
        <input maxlength="20" name="Name" />

        <label for="Age">Age</label>
        <input maxlength="20" name="Age" />

        <label for="Number">Number</label>
        <input maxlength="20" name="Number" />

        <label for="Team">Team</label>
        <input maxlength="20" name="Team" value="@ViewBag.Team" />

        <select name="Position" width="10">
            <option value="" disabled="disabled" selected="selected">Select a player position</option>
            <option value="Forward">Forward</option>
            <option value="Striker">Striker</option>
            <option value="Goal Keeper">Goal Keeper</option>
            <option value="Defensive">Defensive</option>
        </select>

        <button type="submit">Create Player</button>
    </form>
</div>