<div class="form">
    <form asp-action="">

        <label for="Name">Name</label>
        <input maxlength="20" name="Name" />

        <label for="Age">Age</label>
        <input maxlength="20" name="Age" />

        <label for="Number">Number</label>
        <input maxlength="20" name="Number" />

        <label for="Team">Team</label>
        <input maxlength="20" name="Team" />

        <select>
            <option value="" disabled="disabled" selected="selected">Please select a position</option>
            <option value="Position">Forward</option>
            <option value="Position">Striker</option>
            <option value="Position">Goal Keeper</option>
            <option value="Position">Defensive</option>
        </select>

        <button type="submit">Create</button>
    </form>
</div>