@model FootballDeployment.Models.Player

<link href="~/Style.css" rel="stylesheet" />

<h2>Update Player</h2>

<div class="form">
    <form method="post">
        <label for="Name">Name</label>
        <input maxlength="20" name="Name" value="@Model.Name"/>

        <label for="Age">Age</label>
        <input type="number" min="1" max="70" maxlength="2" name="Age" value="@Model.Age" />

        <label for="Number">Number</label>
        <input type="number" min="1" max="30" maxlength="2" name="Number" value="@Model.Number" />

        <label for="Team">Team</label>
        <input maxlength="20" name="Team" value="@Model.Team"/>

        <select name="Position" width="10" required>
            <option value="" disabled="disabled" selected="selected">Select a player position</option>
            <option value="Forward">Forward</option>
            <option value="Striker">Striker</option>
            <option value="Goal Keeper">Goal Keeper</option>
            <option value="Defensive">Defensive</option>
        </select>

        <button type="submit">Save</button>
    </form>
</div>